*{
    font-family: 'roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: red;
}


.box{
    border: 1px solid gray;
    height:100px;
    width: 100px;
}

.small-box{
    height: 50px;
    width: 50px;
    margin-left: 24px;
}

.container{
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.box-wrapper{
    display: flex;
    align-items: center;
    

}