@media (min-width: 768px) {

    .join{
        visibility: visible;
    }
   

    .main-container {
       display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }

    .main-container :nth-child(1) {order: 1;}
    .main-container :nth-child(2) {order: 6;}
    .main-container :nth-child(3) {order: 7;}
    .main-container :nth-child(4) {order: 2;}
    .main-container :nth-child(5) {order: 3;}
    .main-container :nth-child(6) {order: 4;}
    .main-container :nth-child(7) {order: 6;}

    .spotlight-wrap {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }






    .nav__logo {
        width: 180px;
        height: 180px;
    }



    .nav__title--h {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

 
  
    i {
        font-size: 2em;
        margin-right: 10px;
    }    

    .nav__container--title {
        font-size: 1.5em;
    }

    .main-container{
        font-size: 20px;
    }

    .footer-container > * {
        font-size: 20px;
    }









}